 <div  class="container" >
   <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
      <ul class="progressbar">
        <div [ngClass]="{'active':check}">
 <li [ngClass]="{'active':check}">
            <i class="ion-thumbsup"></i>
            <div style ="padding-top: 6px"><b>Travel Initiated</b></div>
          </li>
          </div> 
 <li>         
      <i class="ion-ios-home"></i>
              <div style ="padding-top: 6px"><b>Accomodation Booked</b></div>
            </li>
          <li>
            <i class="ion-android-plane"></i>
             <div style ="padding-top: 6px"><b>Flight Tickets Booked</b></div>
            </li>
          <li>
            <i class="ion-android-happy"></i>
              <div style ="padding-top: 6px"><b>Employee Confirmation</b></div>
            </li>
  </ul>
 </div>
